<h1>Events created by <%= @user.email %></h1>
<% @events.each do |event| %>
  <div>
    <h2><%= link_to event.name, event_path(event) %></h2>
    <p>Date: <%= event.date %></p>
    <p>Location: <%= event.location %></p>
    <% if event %>
      <!--delete event -->
      <%= link_to "Delete", event, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

<h1>User's details</h1>
<h2>Events Attended:</h2>
<h3>Past events:</h3>
<ul>
  <% @attended_events.each do |event| %>
    <% if event.date < Date.today %>
      <li><%= link_to event.name, event_path(event) %>  - <%= event.date %> - <%= event.location %></li>
    <% end %>
  <% end %>
</ul>
<h3>Upcoming events:</h3>
<ul>
  <% @attended_events.each do |event| %>
    <% if event.date >= Date.today %>
      <li><%= link_to event.name, event_path(event) %>  - <%= event.date %> - <%= event.location %></li>
    <% end %>
  <% end %>
</ul>



